
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url('book-drawing-images-background-copy-space_1179130-577613.avif') no-repeat center center fixed; 
    background-size: cover; 
    color: #333; 
    margin: 0;
    padding: 0;
    height: 100vh; 
}


.container {
    max-width: 500px;
    margin: 10px auto; 
    padding: 20px ;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 100px;
}


h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #011b20;
}


input, select {
    width: 100%; 
    padding: 10px;
    margin: 8px 0; 
    border-radius: 5px;
    border: 1px solid #ddd;
}


input:focus, select:focus {
    outline: none;
    border-color: #0e5b63; 
}


button {
    width: 100%;
    padding: 12px;
    background-color: #259194;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: block;
    margin-top: 10px; 
}


button:hover {
    background-color: #043c42; 
}


.register {
    text-align: center;
    margin-top: 20px;
}


.register a {
    text-decoration: none;
    color: #007bff; 
}

.register a:hover {
    text-decoration: underline;
    color: #0056b3; 
}


#registration-form, #login-form, #books-display {
    display: none;
}


.center-block {
    margin: auto;
    display: block;
}


@media (max-width: 768px) {
    .container {
        padding: 15px;
        max-width: 100%; 
    }
    h1 {
        font-size: 2rem; 
    }
}
