html
  head
    title Document
  body
    h1 Welcome to the product management system
    h4 Please choose a login option

    // Button for Admin Login
    form(action="/admindashboard" method="get")
      button(type="submit") Admin login
    h4 Login as an admin to register and manage products

    // Button for User Login
    form(action="/user-login" method="get")
      button(type="submit") User login
    h4 Login as a user to search products by name or category




//- html 
//- head
//-     title Document

//- body

//- form(action='/landing', method='POST')
//-     h Welcome to the product management system
//-     h4 Please choose a login option
//-     button(type='submit') Admin login
//-     h4 Login as an admin to register and manage products
//-     button(type='submit') User login
//-     h4 Login as a user to search products by name or category 
//- </body>
//- </html>