html
  head
    title Login
  body
    h1 Login Form
    form(action='/login', method='POST')
      div
        label(for='username') Username:
        input(type='text', name='username', required=true)
      div
        label(for='password') Password:
        input(type='password', name='password', required=true)
      div
        button(type='submit') Login
    if error
      div(style='color: red;')= error
